Post the updated schedule below. There should be one date per line, in the format (notice that the date and username are separated by a tab):
mm/dd username
<form action="/update" method="post">
  <textarea id="schedule" name="schedule" rows="45" style='width:400px'></textarea>
  <br />
  <input type="submit" value="Update Schedule" />
</form> 
